# Copyright 2020-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR GPL-3.0-or-later

Checks: >
  -*-vararg,
  -bugprone-exception-escape,
  -cert-err33-c,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -google-runtime-int,
  -google-runtime-references,
  -hicpp-signed-bitwise,
  -modernize-make-unique,
  -readability-ambiguous-smartptr-reset-call,
  -readability-function-cognitive-complexity,
InheritParentConfig: true
