Checks: >
  *,
  -*-avoid-c-arrays,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -android*,
  -bugprone-branch-clone,
  -clang-analyzer-alpha.*,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  -fuchsia-default-arguments-*,
  -fuchsia-overloaded-operator,
  -google-runtime-int,
  -google-runtime-references,
  -hicpp-no-array-decay,
  -hicpp-no-malloc,
  -hicpp-signed-bitwise,
  -hicpp-special-member-functions,
  -hicpp-vararg,
  -llvm-header-guard,
  -misc-suspicious-string-compare,
  -misc-unused-parameters,
  -modernize-make-unique,
  -modernize-use-trailing-return-type,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-make-member-function-const,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file


