Checks: >
  *,
  -*-avoid-c-arrays,
  -*-magic-numbers,
  -*-no-malloc,
  -*-uppercase-literal-suffix,
  -abseil-string-find-str-contains,
  -altera-*,
  -android-cloexec-accept,
  -bugprone-easily-swappable-parameters,
  -clang-diagnostic-unused-macros,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -fuchsia-default-arguments*,
  -fuchsia-overloaded-operator,
  -google-runtime-int,
  -hicpp-no-array-decay,
  -llvmlibc-*,
  -modernize-return-braced-init-list,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
CheckOptions:
  - key:   modernize-use-override.AllowOverrideAndFinal
    value: 'true'
CheckOptions:
  - key:   cppcoreguidelines-explicit-virtual-functions.AllowOverrideAndFinal
    value: 'true'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
